<!-- <app-word></app-word>
<app-book></app-book> -->
<!-- <app-user-form></app-user-form> -->
<!-- <app-struct></app-struct> -->
<!-- <app-words></app-words> -->
<!-- <app-person name="Huy" age="25"></app-person>
<app-person name="Hu" age="23"></app-person> -->
<!-- <app-list-person></app-list-person> -->
<!-- <app-parent></app-parent> -->
<!-- <app-list-person></app-list-person> -->
<!-- <app-card>
    <h3 class="card-header">Khoa pham training</h3>
    <app-child class="card-body">Khoa pham training</app-child>
</app-card> -->
<!-- <app-learn-pipe></app-learn-pipe> -->
<!-- <app-ip></app-ip> -->
<!-- <app-weather></app-weather> -->
<!-- <app-sign-in></app-sign-in> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <a href="/contacts">Contacts</a> -->
<!-- <a href="/detail">Detail</a> -->
<a routerLink="/contacts">Contacts</a> 
<a routerLink="/detail">Detail</a>
<!-- routerLink: để cho trang web tự chuyển qua mà không cần load lại  -->
<router-outlet></router-outlet>